.email-opt-in {
    background-color: #17c671;
    width: 80%;
    margin:24px auto 48px;
    padding: 48px 32px;
    border-radius: 6px;
}

.email-opt-in * {
    color: #ffffff;
    text-align: center !important;
}

.email-opt-in h2, .email-opt-in h4{
    margin: 12px 0 0;
    letter-spacing: unset;
}

.email-opt-in .form-box {
    margin: 32px auto;
}

.email-opt-in input {
    margin-bottom: 24px !important;
}

.email-opt-in button {
    color:#fff;
}