.landingPage {
    font-family: 'SF-Pro-Display-Regular' !important;
}

.landingPage h1 {
    letter-spacing: 1px;
}


.landingPage h3 {
    margin-bottom: 24px;
    font-size: 180%;
}

.navBox, .navBox * {
    font-family: 'SF-Pro-Display-Semibold' !important;
}

.worldMap {
    width: 100% !important;
    background-color: transparent !important;
}

.partiesBox {
    height: 670px !important;
}
.partiesBox h4 {
    color:#5a6169;
    font-family: 'SF-Pro-Display-Light' !important;
    padding-left: 18%;
    padding-right: 18%;
    margin-bottom: 24px;
}

.partiesBox h4:before {
    content: "\2D";
    position: absolute;
    margin-left: -20px;
}

.featuresBox {
    height: 332px !important;
    margin-bottom: 48px !important;
}
.featuresBox h4 {
    color:#5a6169;
    text-align: center;
    font-family: 'SF-Pro-Display-Light' !important;
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom: 24px;
}

.integrationsBox {
    height: 493px !important;
}

.integrationsBox .logos {
    max-height: 113px;
    max-width: 113px;
    margin: 24px auto 48px;
}

.integrationsBox h4 {
    color:#5a6169;
    text-align: center;
    font-family: 'SF-Pro-Display-Light' !important;
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom: 24px;
}