.app {
  text-align: center;
  background-color: white;
}

/* .app__header {
  color: #6067f1;
  font-weight: 700;
  text-align: center;
  font-size: 40px;
  line-height: 1.3;
}

.app__description {
  display: block;
  color: #9396b9;
  text-align: center;
  font-size: 24px;
  line-height: 1.8;
} */

.app__brand-name {
  font-weight: 600;
  color: black;
  line-height: 36px;
}

.app__navbar-button {
  padding-top: 0.9rem;
  padding-bottom: 0.7rem;
}

.app__request-element-container {
  margin-bottom: 16px;
}

.app__request-element-container > canvas {
  display: block;
  margin: auto;
}

.app__request-element-container > a {
  display: block;
  max-width: 335px;
  margin: auto;
}

.justifyCentered {
  margin-left: auto !important;
  margin-right: auto !important;
}

@media only screen and (min-width: 768px) {
  .app__header {
    font-size: 60px;
  }

  .app__description {
    font-size: 30px;
  }
}
