/* body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

@font-face {
  font-family: 'SF-Pro-Display-Black';
  src: url('./assets/fonts/SF-Pro-Display-Black.otf') format('opentype'); /* IE9 Compat Modes */
}

@font-face {
  font-family: 'SF-Pro-Display-Bold';
  src: url('./assets/fonts/SF-Pro-Display-Bold.otf') format('opentype'); /* IE9 Compat Modes */
}

@font-face {
  font-family: 'SF-Pro-Display-Heavy';
  src: url('./assets/fonts/SF-Pro-Display-Heavy.otf') format('opentype'); /* IE9 Compat Modes */
}

@font-face {
  font-family: 'SF-Pro-Display-Light';
  src: url('./assets/fonts/SF-Pro-Display-Light.otf') format('opentype'); /* IE9 Compat Modes */
}

@font-face {
  font-family: 'SF-Pro-Display-Medium';
  src: url('./assets/fonts/SF-Pro-Display-Medium.otf') format('opentype'); /* IE9 Compat Modes */
}

@font-face {
  font-family: 'SF-Pro-Display-Regular';
  src: url('./assets/fonts/SF-Pro-Display-Regular.otf') format('opentype'); /* IE9 Compat Modes */
}

@font-face {
  font-family: 'SF-Pro-Display-Semibold';
  src: url('./assets/fonts/SF-Pro-Display-Semibold.otf') format('opentype'); /* IE9 Compat Modes */
}

@font-face {
  font-family: 'SF-Pro-Display-Thin';
  src: url('./assets/fonts/SF-Pro-Display-Thin.otf') format('opentype'); /* IE9 Compat Modes */
}

@font-face {
  font-family: 'SF-Pro-Display-Ultralight';
  src: url('./assets/fonts/SF-Pro-Display-Ultralight.otf') format('opentype'); /* IE9 Compat Modes */
}


body {
  font-family: "SF-Pro-Display-Regular", "Roboto",
  sans-serif;
}

img {
  background-color: transparent !important;
}

button svg {
  margin-right: 12px;
}

.SF-Pro-Display-Black {
  font-family: "SF-Pro-Display-Black !important"
}

.SF-Pro-Display-Bold {
  font-family: 'SF-Pro-Display-Bold' !important;
}

.SF-Pro-Display-Heavy {
  font-family: 'SF-Pro-Display-Heavy' !important;
}

.SF-Pro-Display-Light {
  font-family: 'SF-Pro-Display-Light' !important;
}

.SF-Pro-Display-Medium {
  font-family: 'SF-Pro-Display-Medium' !important;
}

.SF-Pro-Display-Regular {
  font-family: 'SF-Pro-Display-Regular' !important;
}

.SF-Pro-Display-Semibold {
  font-family: 'SF-Pro-Display-Semibold' !important;
}

.SF-Pro-Display-Thin {
  font-family: 'SF-Pro-Display-Thin' !important;
}

.SF-Pro-Display-Ultralight {
  font-family: 'SF-Pro-Display-Ultralight' !important;
}

.sectionHeader {
  font-family: 'SF-Pro-Display-Semibold' !important;
  letter-spacing: 1px;
  margin-bottom: 60px !important;
}

.section-row {
  margin: 12px auto 48px;
}

.tight-page {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.width-auto {
  width: auto !important;
  max-width: unset !important;
}

.border-radius-12 {
  border-radius: 12px;
}

.pubAddress button {
  background-color: #007bff;
}

.footer {
  color: '#818ea3';
  padding: 0;
  padding-top: 12px;
  padding-bottom: 12px;
}

.footer a, .navbar-nav a {
  color: #007bff !important;
}

